<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/common::head"></head>>
<body>
<header th:replace="/fragments/common::nav"></header>
    <main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Details</span></h1>
    <hr class="my-3"/>
    <div class="container-fluid bg-dark w-25 m-auto">
        <div class="row justify-content-center ">
            <div th:object="${itemViewModel}" class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="*{imgUrl}" alt="Card image cap">
                <div class="card-body bg-gray align-content-center text-center">
                    <h6 th:field="*{name}" th:value="*{name}" th:text="*{name}" >Item name</h6>
                    <p th:field="*{description}" th:value="*{description}"  th:text="*{description}" class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi enim, excepturi ha </p>
                    <h6 th:field="*{price}" th:value="*{price}" th:text="*{price}">Price</h6>
                      <a th:href="@{/items/delete/{id}(id=*{id})}" class="btn btn-danger" >Delete</a>
                </div>
            </div>
        </div>
    </div>
</main>
    <footer th:replace="/fragments/common::footer"></footer>
</body>
</html>
